div.nav-bar {
  height: 80px;
  width: 92%;
  background-color: #4056A1;
  color: white;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9;
}
div.nav-bar span.app-name {
  font-size: 40px;
  font-family: "Bungee", sans-serif;
  margin-bottom: 0.5em;
}
div.nav-bar button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: none;
  background-color: transparent;
}
.fa-angle-double-down {
  color: red;
  margin-top: 10px;
  height: 20px;
  width: 20px;
}

div.nav-bar button:hover {
  cursor: pointer;
}
