.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: sandybrown;
  background-image: url('../../assets/back-pattern.png');
  color: white;
  width: 30em;
  float: left;
  height: 15em;
}

.profile-pic {
  position: relative;
  top: 30px;
}

.profile-pic img{
  height: 10em;;
}

.profile-name {
  position: relative;
}
