button {
  background-color: #4056A1;
  color: white;
  padding: 5px;
  margin: 5px;
}

.tweet-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: solid black;
}

textarea {
  border: none;
  outline: none;
  background-color: transparent;
  padding-top: 0.5em;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
  padding-top: 0.5em;
}

.counter {
  font-weight: bold;
}

label {
  font-weight: bold;
}

.tweet:hover {
  box-shadow: 10px 10px #778ba5;
}

.tweet {
  box-shadow: none;
}

.fa-flag:hover {
  color: sandybrown;
}

.fa-flag {
  color: #4056A1;
}

.fa-retweet:hover {
  color: sandybrown;
}

.fa-retweet {
  color: #4056A1;
}

.fa-heart:hover {
  color: sandybrown;
}

.fa-heart {
  color: #4056A1;
}

/*error box styling */
.error {
  padding: 10px;
  background-color: red;
  /* Red */
  color: white;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  display: none;
}

.error-text {
  display: flex;
  flex-direction: row;
}

/* The close button */
.error-close {
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.error-close:hover {
  color: black;
}

#error-msg {
  padding: 0;
  margin: 0;
}

.fa-exclamation-triangle {
  padding-left: 20px;
  padding-right: 20px;
  height: fit-content;
}

article.tweet {
  border: solid black;
  margin-top: 3em;
  margin-bottom: 3em;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article.tweet header div {
  display: flex;
  flex-direction: row;
}

article.tweet header div img {
  padding-left: 1em;
  padding-top: 1em;
  height: fit-content;
}

article.tweet header div p {
  padding: 1em 1em 0.5em 1em;
}

.old-tweet {
  margin: 0.5em;
  border-bottom: solid black;
  padding: 1em 0.5em 1em 0.5em;
  font-weight: bold;
  overflow-wrap: break-word;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  margin: 1.5em;
}

.tweet-time {
  padding-top: 0;
  margin-top: 0;
}

article.tweet footer flags {
  color: #4056A1;
}

div.user-profile p {
  width: 20ch;
}
