<section class="new-tweet">
  <h2>Compose Tweet</h2>

    <div class="tweet-input">
      <label htmlFor="tweet-text">What are you humming about?</label>
      <textarea class="text" id="tweet-text" [(ngModel)]="currentTweet"></textarea>
    </div>
    <div class="error">
      <div class="error-text">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <h6 id="error-msg">Please enter new tweet before posting!</h6>
        <fa-icon [icon]="faExclamationTriangle"></fa-icon>
      </div>
      <span class="error-close">&times;</span>
    </div>
    <div class="form-footer">
      <button type="submit">Tweet</button>
      <output name="counter" class="counter" htmlFor="tweet-text">
        {{140 - currentTweet.length}}
      </output>
    </div>
</section>
